@{
    ViewBag.Title = "Home Page";
}

<div id="map" data-bind="mapsGoogle: { config: config, mapper: mapper }""></div>


@section head{ 
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCh7wefO5T1MuNM4tnooSho41EN2lunPEo&sensor=true"></script>
}



@section scripts {
    @Scripts.Render("~/bundles/lopeway");
    <script>

        function WindowResize() {
            $('#map').height($(window).height() - $('#header').height() - $('#footer').outerHeight());
        };
        $(document).ready(function () {
            WindowResize();
            $(window).resize(WindowResize);
        });

       
            ko.bindingHandlers.mapsGoogle = lopeway.bindingHandlers.maps.google.v2;
            RedmondWA = lopeway.locations.world.usa.wa.redmond;
            var viewModel = {
                config: {
                   // center: RedmondWA,
                    //zoom: 4
                },
                mapper: {}
            };
            ko.applyBindings(viewModel);
     
    </script>
}